/.idea/*
vendor/
composer.lock
phpunit.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
.phpmd.result-cache.php
.phpstan.neon
composer.phar
package.tar
/packages.json
/.phpunit
/.php-version
phpmd.xml
